*{
    margin: 0;padding: 0;}
.side_bar.toggled{
    margin-right: -250px !important;}
.main_content.toggled2{
    width: 93% !important;}
@media screen and (max-width: 992px){
    ul li a{
        margin-left: -20px;}
    ul li a .title{
        display: none !important;}
    .main_content{
        width: 75% !important;}
    .side_bar.toggled{
        display: none;}
    .main_content.toggled2{
        width: 100% !important;}
}